[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = v3_req
prompt             = no

[ req_distinguished_name ]
countryName              = US
stateOrProvinceName      = SomeState
localityName             = SomeCity
organizationName         = SomeOrganization
organizationalUnitName   = SomeUnit
commonName               = *.localhost.localdomain

[ v3_req ]
keyUsage                 = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage         = serverAuth
subjectAltName           = @alt_names

[ alt_names ]
DNS.1 = *.localhost.localdomain
DNS.2 = localhost.localdomain
